/* mail list */

.mail-list li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid black;
}

.single-mail div {
  display: inline-block;
}

.mail-list li:hover {
  background-color: lightgray;
  cursor: pointer;
}

/* folder list */
.mail-folder-list {
  border: 1px solid black;
}

.folder-items li {
  border-top: 1px solid black;
}

.mail-folder-list > *:hover {
  background-color: lightgray;
  cursor: pointer;
}
