.flex {
    display: flex;
}

.space {
    justify-content: space-between;
}

.align {
    align-items: center;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.evenly {
    justify-content: space-evenly;
}