.txt-note {
    /* flex-basis: 25%; */
    min-width: 100px;
    /* min-height: 150px; */
    padding: 10px;
}

.note-preview {
    gap: 15px;
   
}

.note-list {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
}

.main-note {
    width: 85vw;
    margin: 0 auto;
    background-color: aqua;
    margin-bottom: 20px;
}

.note-preview h4 {
    padding: 0;
    margin: 0;
    max-height: 80vh;
}

.note-preview p {
    padding: 10px;
    
} 

.filter {
    display: block;
}

.todo {
    margin-inline-end: 5px;
    padding: 5px;
    cursor: pointer;
}

.todo-div {
    justify-content: space-between;
}

.todo-div button{
    border: 0;
    cursor: pointer;
    background-color: rgba(240, 248, 255, 0);
}

.done{
    text-decoration: line-through;
} 

.add-note {
    margin-top: 15px;
    /* align-items: center; */
}

.add-note button {
    background-color: rgb(255, 236, 64);
    border-radius: 1rem;
    color: rgb(95, 86, 95);
    border: 2px solid rgb(214, 214, 214);
    height: 3rem;

}

.add-note input {
    border-radius:2rem ;
    max-width: 250px;
}

.todo-ul {
    padding:0px 0px 0px 20px; 
}

.note-header h4 {
    display: inline-block;
}
.color {
    position: absolute;
    width: 25px;
    opacity: 0;
    margin: 5px;
}

.poinetr {
    cursor: pointer;
}

.link {
    font-size: 15px;
  text-decoration: none;
  /* border: 1px solid black; */
  padding: 5px;
  border-radius: 10px;
}

.link:hover{
    background-color: rgb(245, 230, 230);

}

.btn {
    /* justify-content: space-evenly; */
  
}




.pin-contaner { 
    display: flex;
    gap: 10px;
    max-width:fit-content;
}

.note-card {
    height:fit-content ; 
    max-width: 450px;
}
