.txt-note {
    /* flex-basis: 25%; */
    min-width: 100px;
    /* min-height: 150px; */
    padding: 10px;
}

.note-preview {
    gap: 15px;
   
}

.note-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main-note {
    width: 85vw;
    margin: 0 auto;
    background-color: aqua;
    margin-bottom: 20px;
}

.note-preview h4 {
    padding: 0;
    margin: 0;
    max-height: 80vh;
}

.note-preview p {
    padding: 5px;
} 

.filter {
    display: block;
}

.todo {
    margin-inline-end: 5px;
    padding: 5px;
    cursor: pointer;
}

.todo-div {
    justify-content: space-between;
}

.todo-div button{
    border: 0;
    cursor: pointer;
    background-color: rgba(240, 248, 255, 0);
}

.done{
    text-decoration: line-through;
} 

.add-note {
    margin-top: 15px;
    /* align-items: center; */
}

.add-note button {
    background-color: rgb(255, 236, 64);
    border-radius: 1rem;
    color: rgb(95, 86, 95);
    border: 2px solid rgb(214, 214, 214);
    height: 3rem;

}

.add-note input {
    border-radius:2rem ;
    width: 250px;
}

.todo-ul {
    padding:0px 0px 0px 20px; 
}