.txt-note {
    /* flex-basis: 25%; */
    min-width: 100px;
    /* min-height: 150px; */
    padding: 10px;
}

.note-preview {
    gap: 15px;
   
}

.note-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main-note {
    width: 85vw;
    margin: 0 auto;
    background-color: aqua;
    margin-bottom: 20px;
}

.note-preview h4 {
    padding: 0;
    margin: 0;
    
}

.note-preview p {
    padding: 5px;
} 

.todo {
    
    padding: 5px;
    cursor: pointer;

}

.dane{
    text-decoration: line-through;
} 