/* folder list */
.folder-list {
  width: 180px;
  height: 300px;
  padding-top: 15px;
  padding-right: 15px; 
  padding-bottom: 15px;
}

.folder-list > * {
  font-size: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.folder-list > *:hover {
  background-color: rgb(245, 230, 230);
  cursor: pointer;
}

.compose-mail {
  font-size: 25px;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 10px;
  padding: 5px;
}

.compose-mail:hover {
  cursor: pointer;
  color: lightcoral;
  transition: 0.3s;
}

.unread {
  padding-right: 5px;
}