/* mail list */

.mail-list {
  flex-grow: 1;
}
.mail-list li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid black;
}

.single-mail div {
  display: inline-block;
}

.mail-list li:hover {
  /* border-bottom: 3px solid black; */
  cursor: pointer;
  /* box-shadow: 0 2px 4px 0 #292929; */
  /* background: #e1e1e1;
  border-top: 1px solid #d0d0d0;
  padding-top:0; */
}

.mail-title-subject-container {
  flex-grow: 1;
}

.clean-list {
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
}