/* mail-details */

.mail-show-container {
  flex-grow: 1;
  border: 1px solid black;
}

.mail-body {
  padding-left: 50px;
}

.detail-header {
  padding: 5px;
  border-bottom: 1px solid black;
}

.detail-mail-subject {
  font-size: 30px;
}

.btn-delete:hover {
  cursor: pointer;
}

.detail-from {
  font-size: 20px;
  font-weight: bold;
}

.detail-from-h4 {
  padding: 5px;
}

.send-to-note{
  font-size: 20px;
  text-decoration: none;
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
}

.send-to-note:hover{
background-color: rgb(245, 230, 230);
}