.unread {
  font-weight: bold;
}

.isRead {
  background-color: rgba(211, 211, 211, 0.5);
}

.single-mail-container > * {
  padding: 3px;
}

.from-star-box {
  min-width: 150px;
}

.mail-from {
  min-width: 80px;
}

.read-and-delet {
  gap: 10px;
}

.single-mail-container:hover .read-and-delet {
  display: flex;
}

.read-and-delet:hover {
  display: flex;
}

.read-and-delet {
  display: none;
}

.date-container {
  display: block;
}

.date-container:hover {
  display: none;
}

.single-mail-container:hover .date-container {
  display: none;
}

/* .body-span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
} */
